html {
background-color: #212121 
}

.bar {
    height: 130px;
    position: relative;
}

.seik {
    position: relative;
    margin: 20px;
}

.seiklogo {
    width: 140px;
    height: 140px;
    display: block;
    margin: auto;
    position: relative;
}

.text {
    color: black;
    font-family: 'Bree Serif', serif;
}

.logocontainer {
    margin: auto;
    width: 460px;
    height: 460px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    
}

.frow li {
    display: inline;
    list-style-type: none;
}

.srow li {
    display: inline;
    list-style-type: none;
}

.logo {
    width: 150px;
    height: 150px;
    padding: 20px;
}
